<div>

    <div class="flex justify-end text-lg">
        <a class="text-slate-200 hover:text-slate-500 py-1 px-2 transition duration-500" href="/apps/dbview/admin" title="Administration"><i class="fa-solid fa-terminal"></i></a>
    </div>

    <div class="flex justify-center text-2xl text-slate-500 mt-24">

        <div class="flex flex-col">
    
            <div>

                <span>View Your Database</span>
                <br>
                <TMPL_VAR NAME="CONTENT">
                
            </div>

        </div>

    </div>

</div>